/* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #043565
}

form {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="file"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #357ab7;
}

h2 {
    text-align: center;
    color: #e74c3c;
}

h3 {
    text-align: center;
    color: #e74c3c;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    max-height: 300px;
    border: 20px solid #000000;
    border-radius: 10px;
    padding: 1px;
}

.result {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
