<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Tumor Detector</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='brain.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
    <script>
        // Function to toggle the display of more information
        function showMoreInfo() {
            const info = document.getElementById('more-info');
            const button = document.getElementById('more-info-btn');
            if (info.style.display === "none" || info.style.display === "") {
                info.style.display = "block";
                button.textContent = "Hide Information";
            } else {
                info.style.display = "none";
                button.textContent = "More Information";
            }
        }
    </script>
</head>
<body>
    <div class="title-container">
        <a href="/">
        <div class="logo-container">
                <img src="static/brain.png" alt="Logo" class="logo">
        </div>
        </a>
        <a href="/">
        <h1>Brain Tumor Detector</h1>
        </a>
    </div>
    
    {% if status %}
        <h2 class = "error">
            {{status}}
        </h2>
    {% endif %}

    <div class="prediction-background">
    {% if predicted_image_path %}
        <img src="{{ predicted_image_path }}" alt="Uploaded MRI Scan" class="predicted-image">
    {% endif %}
    
    {% if result %}
        <h2 class="{{ 'green' if result == 'No Cancer Detected' else '' }}">
            Prediction Result: {{ result }}

        </h2>
    {% endif %}
    
    {% if confidence %}
        <h2>
            Confidence: {{ (confidence * 100) | round(2) }}%
        </h2>
        <button id="more-info-btn" onclick="showMoreInfo()">More Information</button>
            
    {% endif %}


    </div>
    <div id="more-info" style="display:none; margin-top: 20px;" class="more-info">
        <p>{{ info }}</p>
        
    </div>
    <div class="container">
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="file">Upload an MRI Scan:</label>
        <input type="file" id="file" name="file" accept="image/*" required>
        <input type="submit" value="Predict">
    </form>
    </div>
</body>

</html>
